body {
    background: #00d2ff;  
    background: linear-gradient(to right, #3a7bd5, #00d2ff);
}
  
h1 {
    text-align: center;  
}
  
h2 {
    margin-top: 100px;
    text-align: center;  
}
  
.buttons{
    position: relative;
    top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
button {
    width: 10rem;
    height: 10rem;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    border: 2px solid black;
    transition: all 0.5s ease;
}
  
button:hover {
    width: 12rem;
    height: 12rem;
    background-color: chartreuse;
    border: 2px solid black;
    opacity: 0.5;
    font-size: 1.2em;
}